$defaultColor: #010101;
$sectionParagraphColor: #898989;
$sectionTitleDescrColor: #313841;
$primaryFontR: "PT-SansRegular";
$primaryFontB: "PT-SansBold";
$sectionActiveColor: #fcdb00;
$footer_links_color: #ffffff;
$screen-md-max: 1199px;
$screen-sm-max: 991px;
$screen-xs-max: 767px;